

<html dir="ltr"><head></head><body dir="ltr">
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Quên mật khẩu</h2>
              <p>Rất chúng ta di chuyển được ban phước nhiều đêm</p>
            </div>
            <div class="page_link">
              <a href="index">Trang chủ</a> <a href="login">Đăng nhập</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <!--================End Home Banner Area =================-->

		<!-- Start My Account -->
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
            <div class="login-form">
                <h3 class="billing-title text-center">Quên mật khẩu</h3>
                <p class="text-center mt-80 mb-40">Nhập thông tin tài khoản để tạo mật khẩu mới. </p>
                <form action="#">
                    <input type="text" placeholder="Tên người dùng hoặc email*" class="common-input mt-20" required=""
                        onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Username or Email*&#39;">
                   
                     <input type="password" placeholder="địa chỉ mail đăng ký*" class="common-input mt-20" required=""
                        onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Email*&#39;">
                    <button class="view-btn color-2 mt-20 w-100"><span>Xác nhận</span></button>
                    <div class="mt-20 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center"><input type="checkbox" class="pixel-checkbox"
                                id="login-1"><label for="login-1">ghi nhớ</label></div>
                    </div>
                </form>
            </div>
        </div>
			</div>
		</div>
        <br>
		<!-- End My Account -->
		
</body></html>