<html dir="ltr"><head></head><body dir="ltr">


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Giỏ hàng</h2>
              <p>Rất chúng ta di chuyển được ban phước nhiều đêm</p>
            </div>
            <div class="page_link">
              <a href="index">Trang chủ</a> <a href="cart">Giỏ hàng</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sản phẩm</th>
                  <th scope="col">Giá bán</th>
                  <th scope="col">Định lượng</th>
                  <th scope="col">Toàn bộ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/cart-1.jpg" alt="">
                      </div>
                      <div class="media-body">
                        <p>Cửa hàng tối giản để sử dụng đa mục đích</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$ 360,00</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input type="text" name="qty" id="sst" value="1" title="Định lượng:" class="input-text qty" maxlength="12">
                      <button class="increase items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"></button>
                      <button class="reduced items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst &gt; 0 ) result.value--;return false;"></button>
                    </div>
                  </td>
                  <td>
                    <h5>$ 720,00</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/cart-1.jpg" alt="">
                      </div>
                      <div class="media-body">
                        <p>Cửa hàng tối giản để sử dụng đa mục đích</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$ 360,00</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input type="text" name="qty" id="sst" value="1" title="Định lượng:" class="input-text qty" maxlength="12">
                      <button class="increase items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"></button>
                      <button class="reduced items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst &gt; 0 ) result.value--;return false;"></button>
                    </div>
                  </td>
                  <td>
                    <h5>$ 720,00</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/cart-1.jpg" alt="">
                      </div>
                      <div class="media-body">
                        <p>Cửa hàng tối giản để sử dụng đa mục đích</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$ 360,00</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input type="text" name="qty" id="sst" value="1" title="Định lượng:" class="input-text qty" maxlength="12">
                      <button class="increase items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"></button>
                      <button class="reduced items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst &gt; 0 ) result.value--;return false;"></button>
                    </div>
                  </td>
                  <td>
                    <h5>$ 720,00</h5>
                  </td>
                </tr>
                <tr class="bottom_button">
                  <td>
                    <a class="gray_btn" href="#">Cập nhật giỏ hàng</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="cupon_text">
                      <input type="text" placeholder="mã giảm giá">
                      <a class="main_btn" href="#">Áp dụng</a> <a class="gray_btn" href="#">Đóng phiếu giảm giá</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================--></body></html>