<html dir="ltr"><head></head><body dir="ltr">
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Đăng nhập</h2>
              <p>Rất chúng ta di chuyển được ban phước nhiều đêm</p>
            </div>
            <div class="page_link">
              <a href="index">Trang chủ</a> <a href="cart">Giỏ hàng</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <!--================End Home Banner Area =================-->

		<!-- Start My Account -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="login-form">
						<h3 class="billing-title text-center">Đăng nhập</h3>
						<p class="text-center mt-80 mb-40">Chào mừng trở lại! đăng nhập vào tài khoản của bạn </p>
						<form action="updateprofile">
							<input type="text" value="example" placeholder="Tên người dùng hoặc email*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Username or Email*&#39;">
							<input type="password" value="test" placeholder="Mật khẩu*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Password*&#39;">
							<button class="view-btn color-2 mt-20 w-100" onclick="location.href='updateprofile'"><span>Đăng nhập</span></button>
							<div class="mt-20 d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center"><input type="checkbox" class="pixel-checkbox" id="login-1"><label for="login-1">Nhớ tôi</label></div>
								<a href="forgetpass">Quên mật khẩu?</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="register-form">
						<h3 class="billing-title text-center">Đăng ký</h3>
						<p class="text-center mt-40 mb-30">Tạo tài khoản của riêng bạn </p>
						<form action="#">
							<input type="text" placeholder="Họ và tên*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Full name*&#39;">
							<input type="email" placeholder="Địa chỉ email*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Email address*&#39;">
							<input type="text" placeholder="Số điện thoại*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Phone number*&#39;">
							<input type="text" placeholder="Tên tài khoản*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Username*&#39;">
							<input type="password" placeholder="Mật khẩu*" class="common-input mt-20" required="" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder = &#39;Password*&#39;">
							<button class="view-btn color-2 mt-20 w-100"><span>Đăng ký</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
        <br>
		<!-- End My Account -->
		
</body></html>