<html dir="ltr"><head></head><body dir="ltr">
 
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Chi cuối cùng của chúng tôi </h2>
              <p>Rất chúng ta di chuyển được ban phước nhiều đêm</p>
            </div>
            <div class="page_link">
              <a href="index">Trang chủ</a> <a href="single-product.html">chi sản xuất</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0">
                    <img src="img/product/single-product/s-product-s-2.jpg" alt="">
                  </li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1">
                    <img src="img/product/single-product/s-product-s-3.jpg" alt="">
                  </li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2">
                    <img src="img/product/single-product/s-product-s-4.jpg" alt="">
                  </li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="img/product/single-product/s-product-1.jpg" alt="Trượt đầu tiên">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/product/single-product/s-product-1.jpg" alt="Trượt thứ hai">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/product/single-product/s-product-1.jpg" alt="Trượt thứ ba">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>Jeans Jeans xanh</h3>
              <h2>$ 149,99</h2>
              <ul class="list">
                <li>
                  <a class="active" href="#">
                    <span>Thể loại</span> : Hộ gia đình</a>
                </li>
                <li>
                  <a href="#"> <span>Sẵn có</span> : Còn hàng</a>
                </li>
              </ul>
              <p>
                Mill Oil là một bộ tản nhiệt đầy dầu sáng tạo với công nghệ hiện đại nhất. Nếu bạn đang tìm kiếm một cái gì đó có thể làm cho nội thất của bạn trông tuyệt vời, đồng thời mang lại cho bạn cảm giác ấm áp dễ chịu trong mùa đông.
              </p>
              <div class="product_count">
                <label for="qty">Định lượng:</label>
                <input type="text" name="qty" id="sst" value="1" title="Định lượng:" class="input-text qty" maxlength="12">
                <button class="increase items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"></button>
                <button class="reduced items-count" type="button" onclick="var result = document.getElementById(&#39;sst&#39;); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst &gt; 0 ) result.value--;return false;"></button>
              </div>
              <div class="card_area">
                <a class="main_btn" href="#">Thêm vào giỏ hàng</a> <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a> <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="home-tab" href="#home" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Sự miêu tả</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" href="#profile" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Đặc điểm kỹ thuật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" href="#contact" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Bình luận</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="review-tab" href="#review" data-toggle="tab" role="tab" aria-controls="review" aria-selected="false">Nhận xét</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>
              Beryl Cook là một trong những nghệ sĩ tài năng và thú vị nhất nước Anh.Hình ảnh của Beryl có phụ nữ ở mọi hình dạng và kích cỡ đang tận hưởng.Sinh ra giữa hai cuộc chiến tranh thế giới, Beryl Cook cuối cùng đã rời trường Kendrick ở Reading năm 15 tuổi, nơi cô đến trường thư ký và sau đó vào một văn phòng bảo hiểm. Sau khi chuyển đến London và sau đó là Hampton, cuối cùng cô kết hôn với người hàng xóm bên cạnh từ Reading, John Cook. Ông là một sĩ quan trong Hải quân Merchant và sau khi ông rời biển vào năm 1956, họ đã mua một quán rượu trong một năm trước khi John nhận một công việc ở Nam Rhodesia với một công ty xe máy. Beryl đã mua cho con trai nhỏ của họ một hộp màu nước, và khi chỉ cho anh ta cách sử dụng nó, cô đã quyết định rằng bản thân cô khá thích vẽ tranh. John sau đó đã mua cho cô một bộ tranh dành cho trẻ em vào ngày sinh nhật của cô và chính với điều này, cô đã tạo ra tác phẩm quan trọng đầu tiên của mình, một bức chân dung dài một nửa của một phụ nữ da đen với biểu cảm trống rỗng và bộ ngực lớn. Nó được đặt tên một cách khéo léo là 'Hangover' bởi chồng của Beryl và
            </p>
            <p>
              Nó thường là bực bội khi cố gắng lên kế hoạch cho các bữa ăn được thiết kế cho một. Mặc dù thực tế này, chúng ta đang thấy ngày càng nhiều sách công thức và các trang web Internet dành riêng cho hành động nấu ăn cho một người. Ly hôn và cái chết của vợ hoặc chồng trưởng thành rời trường đại học là những lý do khiến ai đó quen nấu ăn hơn một người đột nhiên cần học cách điều chỉnh tất cả các cách nấu ăn được sử dụng trước đây thành một kế hoạch nấu ăn hợp lý, hiệu quả hơn cho một người người tạo ra ít hơn
            </p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <h5>Chiều rộng</h5>
                    </td>
                    <td>
                      <h5>128mm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Chiều cao</h5>
                    </td>
                    <td>
                      <h5>508mm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Chiều sâu</h5>
                    </td>
                    <td>
                      <h5>85mm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Cân nặng</h5>
                    </td>
                    <td>
                      <h5>52gm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Kiểm tra chất lượng</h5>
                    </td>
                    <td>
                      <h5>Đúng</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Thời lượng tươi</h5>
                    </td>
                    <td>
                      <h5>03 ngày</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Khi đóng gói</h5>
                    </td>
                    <td>
                      <h5>Không cần chạm tay</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Mỗi hộp chứa</h5>
                    </td>
                    <td>
                      <h5>60 chiếc</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="comment_list">
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/review-1.png" alt="">
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>Ngày 12 tháng 2 năm 2017 lúc 05:30 chiều</h5>
                        <a class="reply_btn" href="#">Đáp lại</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor ngồi amet, consectetur adipisinating elit, sed do eiusmod TIME incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tập thể dục ullamco labis nisi ut aliquip ex ea Vendo
                    </p>
                  </div>
                  <div class="review_item reply">
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/review-2.png" alt="">
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>Ngày 12 tháng 2 năm 2017 lúc 05:30 chiều</h5>
                        <a class="reply_btn" href="#">Đáp lại</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor ngồi amet, consectetur adipisinating elit, sed do eiusmod TIME incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tập thể dục ullamco labis nisi ut aliquip ex ea Vendo
                    </p>
                  </div>
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/review-3.png" alt="">
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>Ngày 12 tháng 2 năm 2017 lúc 05:30 chiều</h5>
                        <a class="reply_btn" href="#">Đáp lại</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor ngồi amet, consectetur adipisinating elit, sed do eiusmod TIME incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tập thể dục ullamco labis nisi ut aliquip ex ea Vendo
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Gửi bình luận</h4>
                  <form class="row contact_form" id="contactForm" action="contact_process.php" method="post" novalidate="">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Tên đầy đủ của bạn">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Địa chỉ email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="number" name="number" placeholder="Số điện thoại">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Thông điệp" rows="1"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button type="submit" value="submit" class="btn submit_btn">Xác nhận ngay bây giờ</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="row total_rate">
                  <div class="col-6">
                    <div class="box_total">
                      <h5>Tổng thể, nói chung</h5>
                      <h4>4.0</h4>
                      <h6>(03 Nhận xét)</h6>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="rating_list">
                      <h3>Dựa trên 3 đánh giá</h3>
                      <ul class="list">
                        <li>
                          <a href="#">5 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                        </li>
                        <li>
                          <a href="#">4 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                        </li>
                        <li>
                          <a href="#">3 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                        </li>
                        <li>
                          <a href="#">2 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                        </li>
                        <li>
                          <a href="#">1 sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 01</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="review_list">
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/review-1.png" alt="">
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor ngồi amet, consectetur adipisinating elit, sed do eiusmod TIME incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tập thể dục ullamco labis nisi ut aliquip ex ea Vendo
                    </p>
                  </div>
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/review-2.png" alt="">
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor ngồi amet, consectetur adipisinating elit, sed do eiusmod TIME incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tập thể dục ullamco labis nisi ut aliquip ex ea Vendo
                    </p>
                  </div>
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/product/single-product/review-3.png" alt="">
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor ngồi amet, consectetur adipisinating elit, sed do eiusmod TIME incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud tập thể dục ullamco labis nisi ut aliquip ex ea Vendo
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Thêm một bài đánh giá</h4>
                  <p>Đánh giá của bạn:</p>
                  <ul class="list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                  </ul>
                  <p>Nổi bật</p>
                  <form class="row contact_form" id="contactForm" action="contact_process.php" method="post" novalidate="">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Tên đầy đủ của bạn">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Địa chỉ email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="number" name="number" placeholder="Số điện thoại">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Ôn tập" rows="1"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button type="submit" value="submit" class="btn submit_btn">Xác nhận ngay bây giờ</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->

</body></html>