





<html dir="ltr">

<head></head>

<body dir="ltr">
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Quên mật khẩu</h2>
                        <p>Rất chúng ta di chuyển được ban phước nhiều đêm</p>
                    </div>
                    <div class="page_link">
                        <a href="index">Trang chủ</a> <a href="login">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!--================End Home Banner Area =================-->

    <!-- Start My Account -->
    <div class="container">
        <div class="justify-content-center">
           <form class="form-horizontal">
    <div class="card-body">
        <h4 class="card-title">Thông tin cá nhân</h4>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Tên tài khoản</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lname" value="Pham_Van_A">
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Địa Chỉ mail</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lname" value="pvA@email.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="email1" class="col-sm-3 text-right control-label col-form-label">Giới Tính</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="email1" value="Nam">
            </div>
        </div>
        <div class="form-group row">
            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Số Điện thoại</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="cono1" value="0123456789">
            </div>
        </div>
         <div class="form-group row">
            <label for="email1" class="col-sm-3 text-right control-label col-form-label">Địa chỉ</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="email1" value="11 Võ văn ngân - Thủ đức - TP HCM">
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="card-body">
            <button type="button" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</form>
        </div>
    </div>
    <br>
    <!-- End My Account -->

</body>

</html>